.oh-wrap{
	ul,li{
		list-style: none;
		padding: 0;
		margin: 0;
	}
	.clearfix:after{
		font-size: 0;

		display: block;
		visibility: hidden;
		clear: both;

		height: 0;

		content: ' ';
	}
	.clearfix{
		display: inline-block;
	}
}
.oh-toolbar{
	position: relative;
	border-radius: 2px 2px 0 0;
	-moz-border-radius: 2px 2px 0 0;
	-webkit-border-radius: 2px 2px 0 0;
	background-clip: padding-box;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 1px 1px rgba(0,0,0,0.16);
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 1px 1px rgba(0,0,0,0.16);

	.oh-menu{
		font-size: 14px;
		line-height: 38px;

		position: relative;

		float: left;

		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
				box-sizing: border-box;
		width: 38px;
		height: 38px;
		margin: 0 2px;
		padding: 0;

		cursor: pointer;
		-webkit-user-select: none;
		   -moz-user-select: none;
			-ms-user-select: none;
				user-select: none;
		-webkit-transition: background .2s ease 0s;
		   -moz-transition: background .2s ease 0s;
			-ms-transition: background .2s ease 0s;
			 -o-transition: background .2s ease 0s;
		text-align: center;
		text-decoration: none;

		color: #222;
		border: 0;
		border-radius: 0;
			 outline: 0;
		background: transparent;
		background-clip: padding-box;

		-moz-outline: 0;
			 -o-user-select: none;
		 -khtml-user-select: none;

		&:hover,&.oh-active{
			background-color: #ebebeb
		}
		&.oh-drop:after{
			content: ' ';
			display: inline-block;
			*display: inline;
			*zoom: 1;
			width: 0;
			height: 0;
			border-left: 4px solid transparent;
			border-right: 4px solid transparent;
			border-top: 4px solid #222;
			vertical-align: middle;
			margin-left: 4px;
		}
	}

	.oh-button-wrap{
		.oh-split{
			background: #ebebeb;
			display: block;
			vertical-align: top;
			float: left;
			height: 34px;
			width: 1px;
			margin: 2px;
		}
	}

	/*弹层*/
	.oh-popup-wrap{
		.oh-popup-layer{
			visibility: hidden;
			position: absolute;
			font-family: Arial, Helvetica, sans-serif;
			top: 0;
			left: 0;
			background: #fff;
			z-index: 1000;
			color: #222;
			-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 1px 1px rgba(0,0,0,0.16);
			-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 1px 1px rgba(0,0,0,0.16);
			box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 1px 1px rgba(0,0,0,0.16);
			border-radius: 2px;
			-moz-border-radius: 2px;
			-webkit-border-radius: 2px;
			-moz-background-clip: padding;
			-webkit-background-clip: padding-box;
			background-clip: padding-box;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			user-select: none;
			-o-user-select: none;
			-moz-user-select: none;
			-khtml-user-select: none;
			-webkit-user-select: none;
			-ms-user-select: none;
			text-align: left;
			border: 0px;
			border-top: 5px solid #222222;
			text-rendering: optimizelegibility;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			line-height: 1.2;

			&:after{
				content: ' ';
				display: block;
				position: absolute;
				left: 50%;
				top: -10px;
				margin-left: -3px;
				width: 0;
				height: 0;
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
				border-bottom: 5px solid #222;
				vertical-align: middle;
			}

			.oh-popup-tab{
				display: block;
				-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 1px 1px rgba(0,0,0,0.16);
				-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 1px 1px rgba(0,0,0,0.16);
				box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 1px 1px rgba(0,0,0,0.16);
				white-space: nowrap;
				line-height: 0;
				border-bottom: 0px;

				li{
					float: left;
					&.oh-active{
						&,& .oh-menu{
							color: #1e88e5;
							background: transparent;
							pointer-events: none;
						}
					}
				}
			}
			.oh-popup-cont{
				padding: 10px;
				width: 200px;
			}
			.oh-popup-child {
				display: none;
				&.oh-active{
					display: block;
				}
			}
			.oh-popup-child-upload{
				height: 70px;
				position: relative;
				line-height: 70px;
				text-align: center;
				font-size: 14px;
				border: dashed 2px #bdbdbd;

				.oh-form{
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					z-index: 1001;
					cursor: pointer;
					-webkit-opacity: 0;
					-moz-opacity: 0;
					opacity: 0;
					-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

					input{
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						width: 100%;
						cursor: pointer;

						&:active,
						&:hover,
						&:focus{
							outline: none;
						}
					}
				}
			}

		}

		.oh-drop-layer{
			visibility: hidden;
			display: block;
			position: absolute;
			right: auto;
			bottom: auto;
			height: auto;
			z-index: 1000;
			-webkit-overflow-scrolling: touch;
			overflow-y: auto;
			zoom: 1;
			border-radius: 0 0 2px 2px;
			-moz-border-radius: 0 0 2px 2px;
			-webkit-border-radius: 0 0 2px 2px;
			-moz-background-clip: padding;
			-webkit-background-clip: padding-box;
			background-clip: padding-box;
			background: #fff;
			-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 1px 1px rgba(0,0,0,0.16);
			-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 1px 1px rgba(0,0,0,0.16);
			box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 1px 1px rgba(0,0,0,0.16);
			max-height: 275px;
			color: #222;

			&.oh-drop-paragraph{
				h1,h2,h3,h4,h5,h6{
					margin: 0;
				}
			}
			
			a{
				color: #222;
				text-decoration: none;
				display: block;
				padding: 4px 15px;
				&:hover{
					background-color: #ebebeb;
				}
			}

		}

	}
}

.oh-container{
	position: relative;
	border-top: 0;
	padding: 10px;
	line-height: 1.5;
	overflow-y: auto;
	border-radius: 0 0 2px 2px;
	-moz-border-radius: 0 0 2px 2px;
	-webkit-border-radius: 0 0 2px 2px;
	background-clip: padding-box;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 1px 1px rgba(0,0,0,0.16);
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 1px 1px rgba(0,0,0,0.16);
	-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
				box-sizing: border-box;

	&:focus{
		outline: 0px solid transparent;
	}

}
