.clearfix:after{
	font-size: 0;

	display: block;
	visibility: hidden;
	clear: both;

	height: 0;

	content: ' ';
}
.clearfix{
	display: inline-block;
}
.oh-toolbar{
	border-radius: 2px 2px 0 0;
	-moz-border-radius: 2px 2px 0 0;
	-webkit-border-radius: 2px 2px 0 0;
	background-clip: padding-box;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 1px 1px rgba(0,0,0,0.16);
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 1px 1px rgba(0,0,0,0.16);
	
	.oh-wrap{
		position: relative;
	}
	.oh-menu{
		font-size: 14px;
		line-height: 38px;

		position: relative;

		float: left;

		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
				box-sizing: border-box;
		width: 38px;
		height: 38px;
		margin: 0 2px;
		padding: 0;

		cursor: pointer;
		-webkit-user-select: none;
		   -moz-user-select: none;
			-ms-user-select: none;
				user-select: none;
		-webkit-transition: background .2s ease 0s;
		   -moz-transition: background .2s ease 0s;
			-ms-transition: background .2s ease 0s;
			 -o-transition: background .2s ease 0s;
		text-align: center;
		text-decoration: none;

		color: #222;
		border: 0;
		border-radius: 0;
			 outline: 0;
		background: transparent;
		background-clip: padding-box;

		-moz-outline: 0;
			 -o-user-select: none;
		 -khtml-user-select: none;

		&:hover{
			background-color: #ebebeb
		}
		&.oh-drop:after{
			content: ' ';
			display: inline-block;
			*display: inline;
			*zoom: 1;
			width: 0;
			height: 0;
			border-left: 4px solid transparent;
			border-right: 4px solid transparent;
			border-top: 4px solid #222;
			vertical-align: middle;
			margin-left: 4px;
		}
	}
	.oh-split{
		background: #ebebeb;
		display: block;
		vertical-align: top;
		float: left;
		height: 34px;
		width: 1px;
		margin: 2px;
	}
}

.oh-container{
	position: relative;
	border-top: 0;
	padding: 10px;
	line-height: 1.5;
	overflow-y: auto;
	border-radius: 0 0 2px 2px;
	-moz-border-radius: 0 0 2px 2px;
	-webkit-border-radius: 0 0 2px 2px;
	background-clip: padding-box;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 1px 1px rgba(0,0,0,0.16);
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 1px 1px rgba(0,0,0,0.16);
	-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
				box-sizing: border-box;

	&:focus{
		outline: 0px solid transparent;
	}
}